<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Profile</title>
</head>
<body>
  <div class="navbar bg-base-100 container mx-auto px-36">
    <div class="flex-1">
      <a href="/admin" class="btn btn-ghost text-xl">Kesehatan</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <h4><%= user.username %></h4>
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a href="/admin/profile" class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-36">
    <h1 class="font-black text-4xl my-20">Tambah Obat</h1>

    <form action="/admin/obat/add" method="post">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input type="text" name="name" class="input input-bordered w-full max-w-xs" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Category</span>
        </div>
        <select class="select select-bordered" name="category">
          <option disabled selected>Pilih Kategori</option>
          <option value="Obat Bebas">Obat Bebas</option>
          <option value="Obat Resep Dokter">Obat Resep Dokter</option>
        </select>
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Price</span>
        </div>
        <input type="text" name="price" class="input input-bordered w-full max-w-xs" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Penyakit yang tersedia</span>
        </div>
        <select class="select select-bordered" name="DiseaseId">
          <option disabled selected>Pilih Penyakit</option>
          <% diseases.forEach(el => { %>
            <option value="<%= el.id %>"><%= el.name %></option>
          <% }) %>
        </select>
      </label>

      <button type="submit" class="btn btn-primary mt-10">Tambah</button>
    </form>
  </div>
</body>
</html>