<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Landing</title>
</head>
<body>
  <div class="navbar bg-transparent text-white fixed">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">Halodek</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </div>

  <div
    class="hero min-h-screen"
    style="background-image: url(https://images.unsplash.com/photo-1603807008857-ad66b70431aa?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="hero-overlay bg-opacity-40"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="w-[60vw]">
        <h1 class="mb-5 text-5xl font-bold">Halodek</h1>
        <p class="mb-5">
          Aplikasi Obat Halo Dek adalah sebuah aplikasi kesehatan yang dirancang untuk membantu pengguna dalam berbagai aspek kesehatan mereka. Aplikasi ini memiliki sejumlah fitur canggih yang dapat memandu pengguna dalam mencari informasi terkait penyakit yang mungkin mereka derita. Salah satu fitur utama yang ditawarkan oleh aplikasi ini adalah fitur pencarian yang sangat intuitif dan informatif.
        </p>
        <!-- <button class="btn btn-primary">Get Started</button> -->
      </div>
    </div>
  </div>
</body>
</html>